/* pタグのスタイル */
p {
    /* フォントサイズの拡大 */
    font-size: 0.9rem;
}

/* 背景色の設定 */
body {
    background-color: #111;
    color: #ddd;
    /* フォントの設定 */
    font-family: Arial, sans-serif;
    /* 余白の設定 */
    padding: 20px;
}

/* テーブルのスタイル設定 */
table {
    /* セルの境界線を一つにまとめる */
    border-collapse: collapse;
    /* テーブルの幅を画面の半分に設定 */
    width: 30%;
    /* 上部の余白 */
    margin-top: 20px;
    /* 下部の余白 */
    margin-bottom: 20px;
    /* 左側の自動マージン */
    margin-left: 0;
    /* 右側の自動マージン */
    margin-right: auto;
}

/* テーブルのセルに枠線を付ける */
th,
td {
    border: 1px solid #ddd;
    /* 枠線の色と太さ */
    padding: 8px;
    /* セルの内側の余白 */
    text-align: left;
    /* テキストの左揃え */
}

/* 表の見出しのスタイル */
td {
    /* フォントサイズの拡大 */
    font-size: 1.2rem;
    /* 太字 */
    font-weight: bold;
}

/* セル内のキーワードのスタイル */
td {
    font-size: 1.2rem;
    /* フォントサイズの拡大 */
}

/* ハイパーテキストのスタイル */
a {
    /* テキストの下線を消す */
    text-decoration: none;
    /* テキストの色 */
    color: #ddd;
}
a:hover {
    /* テキストの色 */
    text-decoration: underline;
}

div.utility {
    border-left: 3px solid #ddd;
    padding-left: 15px;
    margin-bottom: 40px;

}

.simple-btn {
    width: 10%;
    height: 4%;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 25px;
    margin: 10px 10px 10px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-hover {
    transition: all 0.3s ease;
}

.btn-hover:hover {
    box-shadow:
        5px 5px 10px 0px #fff9,
        4px 4px 5px 0px #fff9;
}